@font-face {
  font-family: "FineSpring";
  src: url("public/font/FineSpring.eot?#iefix") format("embedded-opentype"),
    url("public/font/FineSpring.ttf") format("truetype"),
    url("public/font/FineSpring.otf") format("opentype"),
    url("public/font/FineSpring.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HousttelySignature";
  src: url("public/font/HousttelySignature.eot?#iefix") format("embedded-opentype"),
  url("public/font/HousttelySignature.ttf") format("truetype"),
  url("public/font/HousttelySignature.otf") format("opentype"),
  url("public/font/HousttelySignature.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Letters for Learners";
  src: url("public/font/Letters for Learners.eot?#iefix") format("embedded-opentype"),
  url("public/font/Letters for Learners.ttf") format("truetype"),
  url("public/font/Letters for Learners.otf") format("opentype"),
  url("public/font/Letters for Learners.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 240, 230, 1);
  height: 200vh;

}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.page {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;

  .header {
    width: 100%;
    max-width: 1920px;
    top: 0;
    margin-top: 45px;
    padding: 0px 10px;
    position: fixed;
    display: flex;
    //align-items: center;
    justify-content: space-between;

    .leftTextWrap {
      position: relative;

      .leftText1 {
        width: 220px;
        line-height: 60px;
        font-family: "Letters for Learners";
        font-size: 28px;
        left: 0;
        top: 0;
        position: absolute;
      }

      .leftText2 {
        width: 60px;
        height: 60px;
        text-align: center;
        font-family: HousttelySignature;
        color: #a8adb4;
        border: 2px solid #a8adb4;
        left: -40px;
        top: 0;
        position: absolute;
        opacity: 0;
      }
    }

    .rightText {
      font-family: "Letters for Learners";
      font-size: 22px;
    }
  }

  .section-1 {
    width: 100%;
    margin-top: 360px;

    .mainLogo {
      box-sizing: border-box;

      & > div {
        width: 700px;
        margin: 0 auto;

        & > div:nth-child(1) {
          display: flex;

          .imageWrap {
            width: 100px;
            height: 115px;
            transform: rotate(-35deg);
            position: relative;

            .light-on {
              position: absolute;
              left: 0px;
              top: 0px;
              opacity: 0;
            }

            .light-off {
              position: absolute;
              left: 0px;
              top: 0px;
              opacity: 1;
            }
          }

          .dummy {
            width: calc(100% - 150px);
          }
        }

        & > div:nth-child(2) {
          display: flex;

          .dummy {
            width: 25px;
          }

          .textWrap {
            display: flex;
            align-items: flex-end;

            .mainLogoText1 {
              font-family: FineSpring;
              font-size: 100px;
              line-height: 120px;
            }

            & > div:nth-child(2) {
              display: flex;
              align-items: center;
              margin-left: 200px;

              .mainLogoText2 {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                line-height: 50px;
                text-align: center;
                margin-right: 20px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}